@font-face {
    font-family: 'FilmLetters';
    src: url('../../police/FilmLetters.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kid Knowledge 1';
    src: url('../../police/Kid Knowledge 1.otf');
    font-weight: normal;
    font-style: normal;
}
.titre
{
	font-family: "FilmLetters";
    text-align: center;
    font-size: 60px;

}

pre{
    background-color: #ececec;
    max-width: fit-content;
}

.pute
{
    font-size: 35px;
    font-family: "Kid Knowledge 1";
    margin: auto;
    width: 80%;
    text-align: justify;
}

header{
    display: flex;
    justify-content: space-around;
    border-top: 1px black dashed;
    border-bottom: 1px black dashed;
}
.lo, .li
{
    text-decoration: none;
    font-size: 20px;
    font-family: "Kid Knowledge 1";
    color: black;
}   
.li
{
    text-decoration: underline;
}
.uwu 
{
    margin-top: 20px;
}
a{
    cursor: url("../../../fichiers/images/logo (3).png") 4 12, default;
}

.center
{
    margin-top: 3%;
    text-align: center;
}

footer
{
    margin-top: 10%;
    border-top: 3px rgb(83, 144, 194) dashed;
    display: flex;
    justify-content: space-between;
}
.footi
{
    font-size: 35px;
    font-family: "Kid Knowledge 1";
}

#forms{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}

#createAccount{
    padding-right: 10%;
    border-right: 1px black solid;
}

#connectedForm{
    margin-top: 4%;
    text-align: center;
}

textarea{
    width: 80%;
    height: 200px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05em;
}

input, button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05em;
}