@font-face {
    font-family: 'FilmLetters';
    src: url('../../police/FilmLetters.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kid Knowledge 1';
    src: url('../../police/Kid Knowledge 1.otf');
    font-weight: normal;
    font-style: normal;
}
.titre
{
	font-family: "FilmLetters";
    font-size: 60px;

}
.pute
{
    font-size: 35px;
    font-family: "Kid Knowledge 1";
}

header{
    display: flex;
    justify-content: space-around;
    border-top: 1px black dashed;
    border-bottom: 1px black dashed;
}
.lo, .li
{
    text-decoration: none;
    font-size: 20px;
    font-family: "Kid Knowledge 1";
    color: black;
}   
.li
{
    text-decoration: underline;
}
.uwu 
{
    margin-top: 20px;
}

